@model buiduckiem_aps.net.Context.Brand

@{
    ViewBag.Title = "Chi tiết thương hiệu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Chi tiết thương hiệu</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 text-center">
                    <h5 class="text-muted">Hình ảnh</h5>
                    <img src="~/Content/images/items/@Model.Avatar" alt="Avatar" class="img-thumbnail mb-3" style="max-height: 200px;">
                </div>
                <div class="col-md-8">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>Tên thương hiệu</th>
                                <td>@Model.Name</td>
                            </tr>
                            <tr>
                                <th>Slug</th>
                                <td>@Model.Slug</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <a href="@Url.Action("Edit", "Brand", new { id = Model.Id })" class="btn btn-warning mr-2">
                <i class="fa fa-pencil-alt"></i> Chỉnh sửa
            </a>
            <a href="@Url.Action("Index", "Brand")" class="btn btn-secondary">
                <i class="fa fa-arrow-left"></i> Quay lại danh sách
            </a>
        </div>
    </div>
</div>
